<div class="jumbotron text-center">
    <div class="game-timer">
        <div class="game-timer-label">TIMER</div>
        <span game-timer></span>
    </div>
    <div class="game-score">
        <div class="game-score-label">SCORE</div>
        <span>{{game.maxScore}}</span>
    </div>
    <div class="game-word">{{game.mangledWord}}</div>
    <div class="game-container">
        <input class="game-input input-lg" ng-disabled="!game.gameStarted" type="text" ng-model="game.input" ng-change="game.inputChanged()"/>
    </div>

    <p class="alert alert-success" role="alert" ng-show="game.successAlert">Correct! You unmangled the word.</p>
    <p class="alert alert-danger" role="alert" ng-show="game.dangerAlert">Oh no! Wrong answer.</p>
    <p class="alert alert-warning" role="alert" ng-hide="game.dangerAlert || game.successAlert">Unmangle the word and watch out for the time.</p>

    <div class="row">
        <div class="col-xs-6">
            <button ng-disabled="game.gameStarted" ng-click="game.startNewGame()" type="button" class="btn btn-primary btn-lg btn-block">
                Start
            </button>
        </div>
        <div class="col-xs-6">
            <button ui-sref="main" ui-sref-active="active" ng-disabled="game.gameStarted" type="button" class="btn btn-default btn-lg btn-block">
                Back
            </button>
        </div>
    </div>
</div>
