<div class="jumbotron text-center">
    <h1>Highscore</h1>
    <br>
    <p>Check your score or if you haven't play yet... give it a try!</p>
    <p><button ui-sref="main" ui-sref-active="active" type="button" class="btn btn-primary btn-lg btn-block">
        Back
    </button></p>
</div>
<div class="table-responsive">
    <table class="table table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">Rank</th>
            <th class="text-center">Score</th> 
            <th class="text-center">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr table-row ng-repeat="player in hs.players"></tr>
    </tbody>
    </table>
</div>
